In [33]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## 1. Crear un vector de ceros de tamaño 10

In [3]:
zeros_vec = np.zeros(10)
zeros_vec

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

## 2) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1

In [6]:
zeros_vec_v2 = np.zeros(10)
zeros_vec_v2[5]=1
zeros_vec_v2

array([0., 0., 0., 0., 0., 1., 0., 0., 0., 0.])

## 3. Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.

In [14]:
vector_cincuenta = list(range(50))
vector_cincuenta.reverse() 
vector_cincuenta

[49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

## 4. Crear una matriz de 3 x 3 con valores del cero al 8

In [15]:
array_3 = np.arange(0,9).reshape((3,3))
array_3

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 5. Encontrar los indices que no sean cero en un arreglo
import numpy as np
arreglo = [1,2,0,0,4,0]

In [16]:
arreglo = np.array([1,2,0,0,4,0])
arreglo[arreglo!=0]

array([1, 2, 4])

## 6. Crear una matriz de identidad 3 x 3

In [17]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## 7. Crear una matriz 3 x 3 x 3 con valores randomicos

In [26]:
random_tensor = np.random.random((3,3,3))
random_tensor

array([[[0.35010629, 0.16350189, 0.55520502],
        [0.51739674, 0.39468243, 0.05325241],
        [0.46596145, 0.35437987, 0.65091006]],

       [[0.08898788, 0.71826616, 0.59665846],
        [0.32109518, 0.30884447, 0.29566996],
        [0.94040353, 0.4723228 , 0.5649864 ]],

       [[0.46019541, 0.07661372, 0.96759823],
        [0.70168528, 0.21625045, 0.57128031],
        [0.4570003 , 0.91439568, 0.03369964]]])

In [27]:
print(random_tensor.shape)

(3, 3, 3)

## 8. Crear una matriz 10 x 10 y encontrar el mayor y el menor

In [31]:
random_10 = np.random.random((10,10))
min_value = random_10.min() 
max_value = random_10.max() 
random_10

array([[0.37500166, 0.09616401, 0.67986967, 0.3287159 , 0.13104541,
        0.81465822, 0.47129973, 0.74973243, 0.281219  , 0.81934709],
       [0.49017529, 0.40841771, 0.72735103, 0.48476009, 0.52151014,
        0.26084471, 0.65077302, 0.22006336, 0.30260187, 0.2790604 ],
       [0.75185227, 0.70667827, 0.12145264, 0.96637918, 0.43492443,
        0.14122469, 0.64577763, 0.09527104, 0.15814656, 0.06186243],
       [0.22844945, 0.51488506, 0.8659371 , 0.70927941, 0.74565021,
        0.86548543, 0.03664011, 0.87886917, 0.23380464, 0.65238265],
       [0.42757713, 0.62213168, 0.3466045 , 0.97674587, 0.00186   ,
        0.72977128, 0.40964091, 0.6442657 , 0.80257206, 0.11611556],
       [0.75920474, 0.11219639, 0.93655276, 0.14824792, 0.67403911,
        0.9225663 , 0.67603029, 0.33834514, 0.26877438, 0.40163349],
       [0.59562702, 0.00577451, 0.99812389, 0.27140969, 0.73953297,
        0.88280852, 0.78479819, 0.56224195, 0.9609185 , 0.90625316],
       [0.13142733, 0.47036737, 0.00456069, 0.28307366, 0.94178946,
        0.55768534, 0.76384286, 0.80984219, 0.16543855, 0.84933715],
       [0.71211399, 0.07687215, 0.13433653, 0.26450871, 0.72601727,
        0.22554097, 0.23204539, 0.502624  , 0.66884456, 0.66262051],
       [0.46944629, 0.62901966, 0.77344003, 0.88641611, 0.67360258,
        0.04132934, 0.02239966, 0.48954786, 0.58299582, 0.48521182]])

In [32]:
print("min value {}".format(min_value))
print("max value {} ".format(max_value))

min value 0.0018600028751891706
max value 0.9981238871473563

## 9. Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

In [34]:
img = plt.imread('gato.jpg')

In [35]:
type(img)

numpy.ndarray

In [36]:
img.shape

(960, 940, 3)

In [57]:
img.reshape(-1,img.shape[2]).shape

(902400, 3)

In [61]:
unique_colors = np.unique(img.reshape(-1,img.shape[2]),axis=0)

In [62]:
len(unique_colors)

82148

 ## 10. ¿Como crear una serie de una lista, diccionario o arreglo?
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

In [63]:
mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

In [64]:
# 1) 
serie_list = pd.Series(mylist)
print("seriel lista {}".format(serie_list))

seriel lista 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [65]:
serie_arr = pd.Series(myarr)
print("seriel lista {}".format(serie_arr))

seriel lista 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [66]:
serie_dict = pd.Series(mydict)
print("seriel lista {}".format(serie_dict))

seriel lista a     0
b     1
c     2
d     4
e     3
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

##  11 ¿Como convertir el indice de una serie en una columna de un DataFrame?
mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict) 
 #Transformar la serie en dataframe y hacer una columna indice

In [67]:
mylist = list('abcedfghijklmnopqrstuvwxyz')

myarr = np.arange(26)

mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict)

In [75]:
list(range(len(ser)))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [80]:
df = pd.DataFrame(data = ser)
df

    0
a   0
b   1
c   2
d   4
e   3
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25

## 12 ¿Como combinar varias series para hacer un DataFrame?
import numpy as np

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser2 = pd.Series(np.arange(26))

In [83]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser2 = pd.Series(np.arange(26))

In [84]:
ser1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [85]:
ser2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [86]:
df = pd.DataFrame({"ser1":ser1,"ser2":ser2})

In [87]:
df

   ser1  ser2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

## 13. ¿Como obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

In [88]:
ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

In [92]:
set(ser1) - set(ser2)

{1, 2, 3}

## 14 ¿Como obtener los items que no son comunes en una serie A y serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

In [93]:
ser1 = pd.Series([1, 2, 3, 4, 5])

ser2 = pd.Series([4, 5, 6, 7, 8])

In [107]:
comun_values = set(ser1).intersection(set(ser2))
comun_values

{4, 5}

In [104]:
values = ser1.append(ser2)

In [109]:
values = set(values)

In [110]:
values

{1, 2, 3, 4, 5, 6, 7, 8}

In [111]:
values - comun_values

{1, 2, 3, 6, 7, 8}

 ## 15 ¿Como obtener el numero de veces que se repite un valor en una serie?
 
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [112]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [113]:
ser

0     h
1     b
2     c
3     h
4     h
5     f
6     e
7     b
8     d
9     a
10    h
11    a
12    a
13    d
14    g
15    d
16    d
17    b
18    e
19    g
20    g
21    c
22    a
23    a
24    g
25    b
26    a
27    h
28    a
29    g
dtype: object

In [114]:
ser.value_counts()

a    7
g    5
h    5
b    4
d    4
c    2
e    2
f    1
dtype: int64

## 16) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?
np.random.RandomState(100)

ser = pd.Series(np.random.randint(1, 5, [12]))

In [118]:
np.random.RandomState(100)

ser = pd.Series(np.random.randint(1, 5, [12]))

In [119]:
ser

0     1
1     3
2     1
3     2
4     4
5     4
6     2
7     2
8     1
9     4
10    2
11    4
dtype: int64

In [121]:
value_counts = ser.value_counts()

In [128]:
value_counts.index[0]

4

In [129]:
value_counts.index[1]

2

In [130]:
value_counts

4    4
2    4
1    3
3    1
dtype: int64

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
dtype: bool

## 17) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un shape definido?

ser = pd.Series(np.random.randint(1, 10, 35))

shape(7,5)

In [142]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser = np.array(ser)
ser

array([3, 4, 8, 6, 6, 6, 1, 7, 3, 3, 9, 4, 9, 9, 2, 3, 9, 2, 6, 3, 9, 1,
       7, 6, 3, 8, 6, 6, 6, 1, 1, 6, 7, 3, 6])

In [143]:
df = pd.DataFrame(data=ser.reshape(7,5),columns=['col1','col2','col3','col4','col5'])
df

   col1  col2  col3  col4  col5
0     3     4     8     6     6
1     6     1     7     3     3
2     9     4     9     9     2
3     3     9     2     6     3
4     9     1     7     6     3
5     8     6     6     6     1
6     1     6     7     3     6

## 18) ¿Obtener los valores de una serie conociendo la posicion por indice?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]
#a e i o u

In [147]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

pos = [0, 4, 8, 14, 20]
ser

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [149]:
ser.iloc[pos] # la otra también funca porque le indice también empieza en cero

0     a
4     e
8     i
14    o
20    u
dtype: object

## 19) ¿Como anadir series vertical u horizontalmente a un DataFrame?

ser1 = pd.Series(range(5))

ser2 = pd.Series(list('abcde'))

In [150]:
ser1 = pd.Series(range(5))

ser2 = pd.Series(list('abcde'))

In [151]:
ser1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [152]:
ser2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [158]:
# vertical 
pd.DataFrame(pd.concat([ser1,ser2], axis=0))

   0
0  0
1  1
2  2
3  3
4  4
0  a
1  b
2  c
3  d
4  e

In [157]:
# horizontal 
pd.concat([ser1,ser2], axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

## 20 ¿Obtener la media de una serie agrupada por otra serie?
groupby tambien esta disponible en series.

frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))

pesos = pd.Series(np.linspace(1, 10, 10))

print(pesos.tolist())


print(frutas.tolist())

#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

#Los valores van a cambiar por ser random
#apple     6.0
#banana    4.0
#carrot    5.8
#dtype: float64

In [159]:
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))

pesos = pd.Series(np.linspace(1, 10, 10))

print(pesos.tolist())

print(frutas.tolist())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['zanahoria', 'banana', 'manzana', 'banana', 'manzana', 'manzana', 'manzana', 'zanahoria', 'banana', 'banana']

In [160]:
df = pd.DataFrame({"frutas":frutas,"pesos":pesos})

In [161]:
df

      frutas  pesos
0  zanahoria    1.0
1     banana    2.0
2    manzana    3.0
3     banana    4.0
4    manzana    5.0
5    manzana    6.0
6    manzana    7.0
7  zanahoria    8.0
8     banana    9.0
9     banana   10.0

In [163]:
df.groupby(['frutas']).pesos.mean()

frutas
banana       6.25
manzana      5.25
zanahoria    4.50
Name: pesos, dtype: float64

## 21 )¿Como importar solo columnas especificas de un archivo csv?

https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv.

In [165]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
df = pd.read_csv(url,usecols=["crim","zn","indus","chas"])
df.head()

      crim    zn  indus  chas
0  0.00632  18.0   2.31     0
1  0.02731   0.0   7.07     0
2  0.02729   0.0   7.07     0
3  0.03237   0.0   2.18     0
4  0.06905   0.0   2.18     0